<!-- Footer -->
<footer id="footer">
  <div class="sixth container-fluid">

    <div class="d-flex justify-content-center">
      <div class="row">
        <div class=col-12>
          <i class="media fab fa-instagram fa-2x"></i>
          <i class="media fab fa-twitter fa-2x"></i>
          <i class="media fas fa-envelope fa-2x"></i>
          <i class="media fab fa-facebook-square fa-2x"></i>
        </div>
        <div class="col-12">
          <p class="copyright">© Copyright 2018 Shots</p>
        </div>
      </div>
    </div>
  </div>
</footer>


</body>
