<h1> Ready to play? </h1>

<form action="/enter" method="post">
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" name="player" placeholder="Player 1">
     </div>
    <div class="col">
      <button class="btn btn-primary" name="playButton" type="submit">Play</button>
    </div>

  </div>

</form>
