<%- include("partials/header") %>

<h1> Host your Party </h1>

<form action="/host" method="post">
  <div class="d-flex justify-content-center">

  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control form-control-lg" name="partyName" placeholder="Party Name">
      <input type="text" class="form-control form-control-lg" name="playerName" placeholder="Your Name" >

     </div>
    <div class="col-12">
      <button class="btn btn-primary btn-lg btn-block play" name="playButton" type="submit">Play</button>
    </div>

  </div>
</div>

</form>
<%- include("partials/footer") %>
