<% players.forEach(function(player){%>
    <h2> <%=player.name%> </h2>
      <p> Vote:<%=player.votes%> </p>
  <%  })%>

<form action="/results" method="post">
  <button type="submit" name="button">Next</button>
</form>
